.content-wrapper {
	margin-bottom: 6px;
}

footer.place-bottom {
	position: fixed;
	bottom: 0px;
	right: 0;
	left: 0;
}

.text-right { text-align: right; }

.text-center { text-align: center; }

.btn-flex { display: flex; }

form .form-body.overflow-none { overflow: unset !important; }

form .text-info.bold {
    font-weight: bold;
}

form .text-info {
    height: 33.5px;
}

.no-padding {
  padding: 0px;
}

.table-selected tbody tr {
  cursor: pointer;
}

.loading {
  padding: 20px;
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}

.progress.with-btn {
  height: 24.3px;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.del-left-pad {
  padding-left: 0px !important;
}

@media (max-width: 767px) {
    
}
@media (max-width: 991px) and (min-width: 768px) {
    
}