.content-wrapper {
	/*margin-bottom: 6px;*/
}

footer.place-bottom {
	position: fixed;
	bottom: 0px;
	right: 0;
	left: 0;
}

.text-right { text-align: right; }

.text-center { text-align: center; }

code.success {
  color: #3BCE1E;
  background-color: rgba(115, 237, 85, 0.1);
}

code.primary {
  color: #704acf;
  background-color: rgba(174, 85, 237, 0.1);
}

.btn-flex { display: flex; }

form .form-body.overflow-none { overflow: unset !important; }

form .text-info.bold {
    font-weight: bold;
}

form .text-info {
    height: 33.5px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.margin-b-10 { margin-bottom: 10px; }
.margin-b-15 { margin-bottom: 15px; }

.card-block.pad-less {
  padding: 0.8rem;
}

.table-selected tbody tr {
  cursor: pointer;
}

table.table-sm th, table.table-sm td {
  padding: 0.35rem 1rem !important;
}

.loading {
  padding: 20px;
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}

.progress.with-btn {
  height: 24.3px;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.del-left-pad {
  padding-left: 0px !important;
}

@media (max-width: 767px) {
    
}
@media (max-width: 991px) and (min-width: 768px) {
    
}